<div class="container-fluid">
    <dir class="col-md-12 error-container">
        <h1 class="display-4">Oops!</h1>
        <div class="col-md-4 mx-auto">
            <hr class="title-divider">
        </div>
        <h1 class="display-1">Error 404</h1>
        <div class="col-md-4 mx-auto">
            <hr>
            <h3>Página no encontrada.</h3>
        </div>
    </dir>
    <div class="col-md-12 return-box">
        <p class="return">Regresar a <a href="/">inicio</a> </p>
    </div>

    <footer class="error-footer">
        <div class="text-center">
            <p class="text-dark">© <span>{{ anio }} </span>Unidad Educativa San Jose.</p>
            <p class="text-dark">Excelencia Académica</p>
        </div>
    </footer>
</div>