<header class="header">
    <app-header></app-header>
</header>
<!-- <div class="separator"></div> -->
<!-- <app-sidebar></app-sidebar> -->

<section *ngIf="router.url == '/home'">
    <app-jumbotron></app-jumbotron>
</section>
<flash-messages></flash-messages>
<div class="b-bottom" *ngIf="router.url != '/home'"></div>
<section>
    <div class="container">
        <app-breadcrump></app-breadcrump>
        <router-outlet></router-outlet>
    </div>
</section>
<hr class="b-bottom">
<app-footerpage></app-footerpage>