<div class="index-content">
    <div>
        <h2>Unidad Educativa San Jose</h2>
        <hr class="title-divider"> <br>
        <div class="animated fadeIn fast">
            <h3 class="font-italic">Sobre nosotros</h3>
            <hr>
            <article class="col-md-12 bg-light sj-b-gray">
                <blockquote class="text-justify">
                    La Unidad Educativa Particular <strong>"SAN JOSÉ"</strong> es una Institución del saber y la técnica desde su creación. Ofrece un atractivo catálogo de bachilleratos técnicos, y desarrolla investigación, giras técnicas, y proyectos
                    de emprendimientos.
                </blockquote>
                <blockquote class="text-justify">
                    Desarrollamos procesos educativos que ha permitido obtener a nuestros estudiantes conocimientos técnicos, lo que les facilita su aplicación en el campo laboral y les permite desenvolverse de manera solvente en su día a día.
                </blockquote>
                <blockquote>
                    Te invitamos a ser parte de la comunidad educativa <strong>"JOSEFINOS DE CORAZÓN"</strong>, matricúlate en este nuevo período lectivo 2018-2019 y se parte del selecto grupo de bachilleres técnicos que egresan en nuestra institución.
                </blockquote>
            </article>

            <h3 class="font-italic">Misión</h3>
            <hr>
            <article class="col-md-12 bg-light sj-b-gray">
                <blockquote class="text-justify">
                    Destacar la práctica convirtiendo en el menor tiempo a las debilidades en fortalezas, minimizando las dificultades, utilizando las mejores estrategias hasta lograr el desarrollo institucional sostenible y sustentable; logrando metas y objetivos en la
                    superación de calidad del aprendizaje, convertir a los estudiantes con sentido de responsabilidad en el ámbito de la creatividad, criticidad, de ser reflexivos capaces de discernir y resolver problemas socio-productivos, promoviendo
                    la construcción del conocimiento y el desarrollo del pensamiento desde su formación general, para el fortalecimiento de su personalidad.
                </blockquote>
            </article>


            <h3 class="font-italic">Visión</h3>
            <hr>
            <article class="col-md-12 bg-light sj-b-gray">
                <blockquote class="text-justify">
                    Fomentamos, buenos hábitos hacia el trabajo en equipo, utilizando patrones pedagógicos de competencias en la formación integral de los estudiantes, poniendo en ejecución nuestros conocimientos, basándonos en las figuras profesionales acorde con las necesidades
                    de la población, con enseñanzas tanto en el campo práctivo como el teórico, ligados a las destrezas y habilidades de uso de los valores humanos, impulsando a nuestros estudiantes a practicar la investigación, y así su posterior inserción
                    con proyección al mundo del trabajo y a la continuidad de sus estudios de tercel nivel.
                </blockquote>
            </article>
            <h3 class="font-italic">Principios educativos</h3>
            <hr>
            <article class="col-md-12 bg-light sj-b-gray">
                <h5 class="font-weight-bold">Verdad.</h5>
                <blockquote class="text-justify">
                    Abarca la bondad, la buena fe y la sinceridad humana, hasta el acuerdo de las cosas que afirman las realidades.
                </blockquote>
                <h5 class="font-weight-bold">Trabajo.</h5>
                <blockquote class="text-justify">
                    Hay un compromiso con la acción y reflexión. El estilo de trabajo positivo es manifiesto tanto en estudiantes como en docentes.
                </blockquote>
                <h5 class="font-weight-bold">Excelencia.</h5>
                <blockquote class="text-justify">
                    La noción de excelencia, se relaciona a la idea de esmero a las características soresalientes del proceso de enseñanza. Las innovaciones permanentes como Proyectos Educativos está por encima del resto y que posee escasas falencias o puntos débiles; en
                    el mundo de la educación es la calidad probada e innovada.
                </blockquote>
                <h5 class="font-weight-bold">Solidaridad.</h5>
                <blockquote class="text-justify">
                    Indica la cihesión y la relacionh que se produce al interior de un grupo, donde los individuos actúan "mancomunadamente" entre sí. Buscamos formar seres sensibles a los problemas sociales, a la cooperación, a reflexionar sobre la realidad y actuar en
                    beneficio del bien común.
                </blockquote>
                <h5 class="font-weight-bold">Comportamiento.</h5>
                <blockquote class="text-justify">
                    Responde a la necesidad de un tratamiento científico de los problemas morales, es decir como forma consciente de conducirse, de comportarse y de actuar. Un comportamiento inteligente, que respete los derechos individuales y sociales.
                </blockquote>
                <h5 class="font-weight-bold">Humanismo.</h5>
                <blockquote class="text-justify">
                    Valor que poseen las personas que tiene un gran conocimiento de las disciplinas propias de la filosofía.
                </blockquote>
            </article>

            <h3 class="font-italic">Datos.</h3>
            <hr>
            <article class="col-md-12 bg-light sj-b-gray">
                <div class="container">
                    <div class="row">
                        <h5 class="font-weight-bold">Representante legal:</h5>
                        <p class="ml-2">Sr. Néstor Cóndor Masapanta.</p>
                    </div>
                    <div class="row">
                        <h5 class="font-weight-bold">Rector:</h5>
                        <p class="ml-2">Ing. Javier Cóndor Velásquez.</p>
                    </div>
                    <div class="row">
                        <h5 class="font-weight-bold">Vicerector:</h5>
                        <p class="ml-2">Ing.Jorge Carriel</p>
                    </div>
                    <div class="row">
                        <h5 class="font-weight-bold">Inspector General:</h5>
                        <p class="ml-2">Lcda. Narcisa Hidrovo.</p>
                    </div>
                    <div class="row">
                        <h5 class="font-weight-bold">Código AMIE:</h5>
                        <p class="ml-2">12h00841</p>
                    </div>
                    <div class="row">
                        <h5 class="font-weight-bold">Distrito:</h5>
                        <p class="ml-2">Quevedo - Mocache</p>
                    </div>
                    <div class="row">
                        <h5 class="font-weight-bold">Modalidad:</h5>
                        <p class="ml-2">Presencial</p>
                    </div>
                </div>
            </article>
            <div class="p-2">
                <h6 class="text-right font-italic sj-text-green">Escelencia Académica</h6>
            </div>
        </div>
    </div>
</div>