<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="logo">
                    <a routerLink="/home"> <img src="assets/img/san-jose-logo.png" width="50%" class="img-fluid"> </a>
                </h2>
            </div>
            <div class="col-sm-2">
                <h5>Links</h5>
                <ul>
                    <li><a routerLink="/home">Inicio</a></li>
                    <li><a routerLink="/noticias">Noticias</a></li>

                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Acerca de nosotros</h5>
                <ul>
                    <li><a routerLink="/colegio">El Colegio</a></li>
                    <li><a routerLink="/contacts">Contactos</a></li>
                    <li><a routerLink="/especialidades">Especialidades</a></li>
                </ul>
            </div>
            <div class="col-sm-5 font-weight-light">
                <h5>Unidad Educativa San Jose</h5>
                <ul>
                    <li>
                        <i class="icon ion-md-map sj-text-green"></i> Parroquia San Cristóbal Vía Valencia km 1, talleres Cóndor
                    </li>
                    <li>
                        <i class="icon ion-md-call sj-text-green"></i> 0997 456 624 - 0997 230 401
                    </li>
                    <li>
                        <a href="mailto:u.e.sanjose_96@hotmail.com">
                            <i class="icon ion-md-mail sj-text-green"></i> u.e.sanjose_96@hotmail.com
                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p class="text-dark">© <span>{{anio}}</span> Unidad Educativa San Jose </p>
        <p class="text-dark">Excelencia Académica</p>
    </div>
</footer>