<nav aria-label="breadcrumb">
    <ol class="breadcrumb animated fadeIn fast" *ngIf="page != 'Noticias'">
        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
        <li class="breadcrumb-item" *ngIf="page == 'Editar Noticia' || page == 'Detalle Noticia'"><a routerLink="/">Noticia</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{page}}</li>
    </ol>
    <ol class="breadcrumb" *ngIf="page == 'Noticias'">
        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
    </ol>
</nav>
<div class="tittle-page animated fadeIn">
    <h1 class="font-italic animated fadeIn">{{page}}</h1>
</div>
<hr>